$color-am: #2F3691
$color-am-background: #F4F5F7
$color-lightGray: #CACDD7
$color-text-primary: #1c1c1c
$color-text-secondary: #616161
$shadow: 0 2px 4px 0 rgba(0,0,0,0.14)
$shadow-focus: 0 3px 9px 0 rgba(0,0,0,0.19)

body
  background-color: $color-am-background

.am-stores-container
  max-width: 1200px
  margin: 0 auto
  margin-top: -70px
  font-size: 14px
  color: $color-text-secondary
  p
    margin: 5px 0
  h2
    font-weight: 300
    margin-left: 10px
  h3
    margin-top: 5px
    margin-bottom: 10px
    color: $color-am
    font-size: 22px
    font-weight: lighter

.am-stores
  display: grid
  grid-template-columns: 1fr
  grid-gap: 10px

.am-stores-header
  display: flex
  flex-flow: column wrap
  margin-bottom: -20px
  h1
    text-transform: uppercase
    font-weight: lighter
    font-size: 28px
    color: $color-am

.am-stores-search-container
  background-color: white
  box-shadow: $shadow !important
  border-radius: 4px !important
  border: 1px solid #eaeaea !important
  overflow: hidden
  form
    display: flex
    align-items: center
    max-width: 100%
    svg
      fill: $color-text-secondary
      width: 35px
      margin-right: 10px

.am-stores-search-input
  height: 52px !important
  padding: 0 20px !important
  border: none !important
  width: 100% !important
  outline: none !important

.am-store-box
  border: 1px solid #eaeaea
  border-radius: 3px
  padding: 10px
  background-color: white

.am-store-section > p:first-child
  font-weight: bold

.am-store-section-phone
  display: flex
  p
    margin-right: 10px

.am-store-zone-title
  font-size: 2em
  font-weight: 400
  color: $color-am
  margin-top: 50px

@media (min-width: 770px)
  .am-stores-container
    margin-top: -30px

  .am-stores
    grid-template-columns: 1fr 1fr

  .am-stores-search-container
    min-width: 45%

  .am-stores-header
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
